$checkbox-size: 1.8rem;
$checkbox-colors: (
  default: $c-form-gray,
  checked: $c-secondary
);

.myCheckbox {
  outline: 3px solid $c-primary;

  input {
    @include blind;
    cursor: pointer;

    & + label {
      display: flex;
      font-size: 1.4rem;
      letter-spacing: -0.03rem;
      color: $c-black;

      &:before {
        position: relative;
        bottom: 1px;
        display: inline-block;
        width: $checkbox-size;
        height: $checkbox-size;
        margin-right: 1rem;
        border-radius: 0.2rem;
        vertical-align: middle;
        background-color: #fff;
        background-size: 2.4rem;
        background-repeat: no-repeat;
        background-position: 50% 50%;
        border: 1px solid map-get($checkbox-colors, default);
        transition: background-color 0.25s, border-color 0.25s;
        content: '';
      }
    }

    &:checked + label {
      &:before {
        background-image: getBgIcon(check, 'ffffff');
        background-color: map-get($checkbox-colors, checked);
        border-color: map-get($checkbox-colors, checked);
      }
    }

    &:disabled + label {
      opacity: 0.6;
      cursor: not-allowed;
    }

    &:disabled:not(:checked) + label:before {
      border-color: #ccc;
      background-color: #e8e8e8;
    }
  }

  &:hover input:not(:checked):not(:disabled) + label:before {
    border-color: #444;
  }
}
